*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*---------------------------HEADER-------------------------------------*/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
    width: 10px;
    height: 41px;
  }

  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #27C6DA;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #27C6DA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #115760;
  }
/*---------------------------MAIN-------------------------------------*/
/*---------------------------INICIO-------------------------------------*/
.principal{
    display: grid;
    grid-template-columns: 40% 60%;
    
    gap: 50px;
    padding: 60px;
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 40px;
    padding-bottom: 60px;
    
}
.image-hero{
    width: 630px;
    border-radius: 24px;
    height: 543px;
    display: block;
    position: relative;
    margin: auto;
    
    
}
.p-slogan{
    font-size: 40px;
    margin-top: 130px;
    margin-bottom: 10px;
    text-align: center;
}
.p-central{
    margin: 0px;
    text-align: center;
}

.btn-reservar{
    background-color:#27C6DA ;
    display: block;
    margin: auto;
    margin-top: 50px;
    border: none;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
    text-align: center;
}

.btn-reservar:hover{
    background-color: #0088a9;    
transition-duration: 0.5s;
}
/* Tarjetas de iconos*/
.h2_iconos{
    margin-left: 100px;
    padding-top: 50px;

}
.contenedor-servicios{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 40px;
    

}
.caja1-servicios{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
  
}
.iconos_servicios{
    width: 50px; 
    height: 50px;
    padding-bottom: 10px;
}
.p_servicios{
    color: #778298;
    text-align: justify;
    padding-top: 10px;
}
.t_servicios{
    color:#32324E;
   
    
    
}
/*Servicios*/
.iconos_carro{
    width: 24px;
    height: 24px;
}

.servicios3{
margin-top: 30px;
margin-bottom: 30px;
margin-left: 120px;
}
.img-carro1{
    width: 100%;
    width: 340px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 21px;
    
}
.titulos{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
   
    align-items: center;
   
}

.contenido-info{
    
    display: grid;
    grid-template-columns: 24px auto 24px auto ;
    margin: 10px;
    border-bottom: 1px solid gray;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    align-items: center;
  

    
}
.precio {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
}
.anio{
    margin-right: 18px;
    border: 3px dashed #27C6DA;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 15px;
}
.titulo-car{
    font-size: 20px;
}
.contenidoAll{
    padding: 20px 10px 10px 10px;
}


.boton-soli:hover{
background-color: rgba(0, 0, 0, 0.79);    
transition-duration: 0.5s;
}

.precio{
    justify-content: space-between;
}
.numer{
    font-size: 30px;
}
body{
    background-color: #E3F7F9;
}
.contenedor1{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    text-align: center;

  
}
.carro1{
    background-color: white;
    max-width: 340px;
    min-height: 447.33px;
    border-radius: 21px;
    padding: 10px;
}
.titulo-car:hover{
    color:#E3F7F9 ;
    transition-duration: 0.3s;
}
.titulo-car-a{
    text-decoration: none;
    color: black
    
}
.contenedor1{
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}


/*Boton */

.boton-soli{
    background-color: #27C6DA;
    border: none;
    border-radius: 14px;
    padding: 10px;
    width: 80px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.precio a{
    text-decoration: none;
    color: white
    
}
/* RESEÑAS */
.reseñas{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
}
.contenedor-reseñas{
    width: 100%;
    overflow: hidden;

}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.contenido-slider:nth-child(1){
    background: #8CE1EB;

   
}

.contenido-slider:nth-child(2){
    background: #8CE1EB;
   
}

.contenido-slider:nth-child(3){
    background: #8CE1EB;
}
.contenido-slider:nth-child(4){
    background: #8CE1EB;
}
.contenido-slider:nth-child(5){
    background: #8CE1EB;
}
.contenido-slider:nth-child(6){
    background: #8CE1EB;
}
.contenido-slider:nth-child(7){
    background: #8CE1EB;
}

.contenido-slider > img{
    width: 400px;
}

.contenido-slider > div{
    width: 40%;
}

.contenido_reseñas{
    font-weight: 500;
    text-align: justify;
    line-height: 30px;
}
.contenido-slider h3{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    font-style: italic;
}

.contenido-slider a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863;
    
}

@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}
.contenido-slider img{
    width: 200px;
    height: 300px;
}

@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}
/* EMPIEZA FOOTER*/
footer{
    width: 100%;
    padding-top: 50px ;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}


.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    
    
    
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    background-color: white;

}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
 
}

.box__copyright hr{
    border: none;
    height: 1px;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    background-color: #010101;
   
}

.logo-header{
    position: absolute;
    top: 15px;
    left: 20px;
}
/*TERMINA FOOTER*/

.contenedor1{
  padding: 10px;
  padding-top: 20px;
}


.menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  .foto-prin{
    max-width: 100px;
   text-align: center;
  }

 

@media screen and (max-height: 450px) {
    
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .principal{
        display: grid;
        grid-template-columns: 100%;
        
        gap: 50px;
        padding: 60px;
        padding-top: 60px;
        padding-left: 120px;
        padding-right: 40px;
        padding-bottom: 60px;
        justify-content: center;
        
    }
    .image-hero{
        width: 630px;
        border-radius: 24px;
        height: 450px;
        display: block;
        position: relative;
        margin: auto;
        
        
    }
    .contenedor1{
        display: grid;
        grid-template-columns: 100%;
        gap: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
      
    }
    .contenedor-servicios{
        display: grid;
        grid-template-columns: auto auto ;
        padding-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
        gap: 40px;
        
    
    }
  
  }
  
  @media only screen and (max-width: 700px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
    .logo{
        width: 100px;
        height: 40px;
    }
    .principal{
        display: grid;
        grid-template-columns: 100%;
        
        gap: 50px;
        padding: 60px;
        padding-top: 60px;
       justify-content: center;
        padding-bottom: 60px;
        
    }
    .image-hero{
        width: 630px;
        border-radius: 24px;
        height: 450px;
        display: block;
        position: relative;
        margin: auto;
        
        
    }
    .contenedor1{
        display: grid;
        grid-template-columns: 70% ;
        gap: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
      
    }
    .contenedor-servicios{
        display: grid;
        grid-template-columns: auto auto ;
        padding-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
        gap: 40px;
        
    
    }
 

      .image-hero{
        max-width: 500px;
        max-height: 400px;
       text-align: center;
       
      }
      .foto-prin{

      justify-content: center;
      }
    
  }

  @media screen and (max-height: 450px) {
    
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .principal{
        display: grid;
        grid-template-columns: 100%;
        
        gap: 50px;
        padding: 60px;
        padding-top: 60px;
        padding-left: 120px;
        padding-right: 40px;
        padding-bottom: 60px;
        justify-content: center;
        
    }
    .image-hero{
        width: 630px;
        border-radius: 24px;
        height: 450px;
        display: block;
        position: relative;
        margin: auto;
        
        
    }
    .contenedor1{
        display: grid;
        grid-template-columns: 100%;
        gap: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
      
    }
    .contenedor-servicios{
        display: grid;
        grid-template-columns: auto auto ;
        padding-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
        gap: 40px;
        
    
    }
  
  }