*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
   position: fixed;
   width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: black;
    justify-content: space-around;
    align-content: center;
}
.header > div{
    
    color: white;
    padding: 14px;
  
}
.header > div>a{
    
    color: white;
    padding: 14px;
  font-size: 16px;
  
}

  
  

.contacto{
    margin-right: 20px;
}

.header > div>a:hover{
    background-color: rgb(238, 108, 26);
    text-decoration: none;
   color: white;
}
.header > div>a{
    text-decoration: none;
   color: white;

}
.logo{
    color:rgb(238, 108, 26); 
    font-weight: bold;
    font-family: 'Cinzel', serif !important ; 
}

.contenedorimg{
    background: url(imagenes/galapagos.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    
}
.texto
{
   
    color: white;
    text-align: center;
    font-size: 30px;
   
  
}
.btnempezar{
    background: black;
    width: 200px;
    border-radius: 3px;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   font-size: 16px;
   text-decoration: none;
   color: white;
    
}
a{
    text-decoration: none;
}
h5:hover{
    background-color: rgb(238, 108, 26);
}
.btnempezar:hover{
    background-color: rgb(238, 108, 26);
}
.servicios{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    justify-content: center;
    
}

.actividades{
    padding: 20px;
    margin-top: 70px;
    justify-content: center;
  
}
.servicios>div{
    padding: 80px;
    text-align: center;
}
.servicios>div>h3{
    margin: 20px;
   
}

.txtbienvenidosT{
    font-size: 70px;
    font-family: 'Cinzel', serif !important;
}
.txtbienvenidosp{
    font-size: 20px;
}

.recorridos{
   margin-bottom: 100px;
   justify-content: center;
   align-items: center;
   text-align: center;

}
.footer{
    padding: 25px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 360px auto auto auto;
    justify-content: space-around;
    
    padding-bottom: 30px;
    

}
.footer a{
    color: black;
    
}
ul li{
    list-style-type: none;
    color: black;
    padding: 3px;
}
.fttitulo{
    margin-bottom: 30px;
    color: rgb(238, 108, 26);
    text-align:left;

   
    
}
.redes{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: flex-start;
    justify-content: center;
    column-gap: 30px;
    width: 100%;
}
.contenedorabout{
    background: url(imagenes/about.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
}
.informacion{
    display: grid;
    grid-template-columns: auto auto ;
    padding: 50px;
    text-align: center;
    padding-right: 180px;
    padding-left: 180px;
    row-gap: 60px;
    margin-top:20px ;
    margin-bottom: 20px;
}
.infoimg1{
    float: left;
    background-size: cover;
    width: 400px;
    height: 270px;
    margin: auto;
    padding: auto;
}
.infoimg2{
    float: right;
    background-size: cover;
    width: 450px;
    height: 300px;
   
}

.txtempleados{
    padding: 10px;
}
.txtinsta{
    padding: 10px;
}
.servicios2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px;
    column-gap: 20px;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
.serviciosimg{
    width: 200px;
    height: 200px;
}
.equipo{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 120px;
    padding-right: 120px;
    justify-content: center;  
    
    align-items: center;
}
.patton{
    padding: 38px;
    padding-top: 11px;
}
.barton{
    padding: 40px;
}
.brooks{
    padding: 40px;
    padding-top: 11px;
}
.formregistro{
    display: block;
  
    padding: 100px;
    width: 400PX;
    justify-content: center;
    margin: auto;
    
   
}
.inputs{
    width: 96%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.formregistro label{
    display: block;
}
.btnPage{
    background-color: rgb(238, 108, 26);
    border: 1px solid  rgb(238, 108, 26);
    padding: 20px;
    padding-right: 60px;
    padding-left: 60px;
    width: 104.5%;
}
.inpus2{
    width: 104.5%;
}
.imgtarjeta{
    width: 40px;
    height: 25px;
    margin: 3px;
}

/*TERMINA FOOTER*/

.contenedor1{
  padding: 10px;
  padding-top: 20px;
}


.menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }

 
  
  @media screen and (max-height: 450px) {
      .overlay a {
        font-size: 20px;
      }
      .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
      .principal{
          display: grid;
          grid-template-columns: 100%;
          
          gap: 50px;
          padding: 60px;
          padding-top: 60px;
          padding-left: 120px;
          padding-right: 40px;
          padding-bottom: 60px;
          
      }
      .image-hero{
          width: 630px;
          border-radius: 24px;
          height: 450px;
          display: block;
          position: relative;
          margin: auto;
          
          
      }
      .contenedor1{
          display: grid;
          grid-template-columns: 100%;
          gap: 40px;
          text-align: center;
          justify-content: center;
          align-items: center;
          justify-items: center;
        
      }
      .contenedor-servicios{
          display: grid;
          grid-template-columns: auto auto ;
          padding-top: 30px;
          margin-left: 100px;
          margin-right: 100px;
          gap: 40px;
          
      
      }
      .informacion{
        display: grid;
        grid-template-columns: auto  ;
        padding: 50px;
        text-align: center;
        padding-right: 180px;
        padding-left: 180px;
        row-gap: 60px;
        margin-top:20px ;
        margin-bottom: 20px;
    }
    .infoimg1{
        display: none;
    }
    .infoimg2{
       display: none;
       
    }
    .equipo{
        display: grid;
        grid-template-columns: auto  ;
        
        justify-content: center;  
        
        align-items: center;
        text-align: center;
    }
    
    
    }
    
    @media only screen and (max-width: 800px) {
      .nav__links,
      .cta {
        display: none;
      }
      .menu {
        display: initial;
      }
      .logo{
          width: 100px;
          height: 40px;
      }
      .principal{
          display: grid;
          grid-template-columns: 100%;
          
          gap: 50px;
          padding: 60px;
          padding-top: 60px;
         
          padding-bottom: 60px;
          
      }
      .image-hero{
          width: 630px;
          border-radius: 24px;
          height: 450px;
          display: block;
          position: relative;
          margin: auto;
          
          
      }
      .contenedor1{
          display: grid;
          grid-template-columns: 70% ;
          gap: 40px;
          text-align: center;
          justify-content: center;
          align-items: center;
          justify-items: center;
        
      }
      .contenedor-servicios{
          display: grid;
          grid-template-columns: auto auto ;
          padding-top: 30px;
          margin-left: 100px;
          margin-right: 100px;
          gap: 40px;
          
      
      }
      .informacion{
        display: grid;
        grid-template-columns: auto  ;
        padding: 50px;
        text-align: center;
        padding-right: 180px;
        padding-left: 180px;
        row-gap: 60px;
        margin-top:20px ;
        margin-bottom: 20px;
    }
    .infoimg1{
        display: none;
    }
    .infoimg2{
       display: none;
       
    }
    .equipo{
        display: grid;
        grid-template-columns: auto  ;
        
        justify-content: center;  
        
        align-items: center;
        text-align: center;
    }
    
    }